*.log
*.tmp
/venv/
/build/
/dist/
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint
*.DS_Store
.AppleDouble
.LSOverride
*.obj
*.o
*.d
*.out
*.log
*.tmp
.vs/
